<form method="post" action="{{ path('chevalier_delete', {'id': chevalier.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce chevalier ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chevalier.id) }}">
    <button class="btn">Delete</button>
</form>
