{% extends 'base.html.twig' %}

{% block title %}New Chevalier{% endblock %}

{% block body %}
    <h1>Create new Chevalier</h1>

    {{ include('chevalier/_form.html.twig') }}

    <a href="{{ path('chevalier_index') }}">back to list</a>
{% endblock %}
