{% extends 'base.html.twig' %}
{% block title 'Pianos a Queue' %}

{% block body %}
<div class="jumbotron" style="text-align: center;">
    <h1>Les Chevaliers du Zodiaque</h1>
</div>

</div>

{% endblock %}