{% extends 'base.html.twig' %}
{% block title 'Pianos a Queue' %}

{% block body %}
<div class="jumbotron" style="text-align: center;">
    <h1>Les Chevaliers du Zodiaque</h1>
</div>

</div>

<div class="jumbotron" style="text-align: center; background-color: white;">
    <h2>Découvrez notre sélection de Chevaliers <i class="fa fa-music"></i> </h2> 
</div>
{% endblock %}